.main{
    position: absolute;
    width: 100%;
    background-color: #6504b5;
    top: 0px;
    bottom: 0px;
}   

.menuHeader {
    height: 70px;
    width: 100%;
    background-color: #2e0152;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.main > ul {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    font-size: 30px;
    padding: 0px;
    width: 60%;
}

.main >ul > li {
    display: unset;
}

.main >ul > li >div{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
    width: fit-content;
    z-index: 5;
}

.icon {
    height: 30px;
    width: 30px;
    margin: auto 10px auto 0px;
    cursor:pointer;
}

.smallIcon {
    height: 20px;
    width: 20px;
    margin-left: 15px;
    
}

.searchBox{
    margin-left: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black solid;
    width: 60%;
    height: 55px;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.searchBox >input{
   width: 100%;
   border: none;
   background-color: #6504b5;
   color: white;
   font-size: 20px;
   padding-left: 5px;
   
}

.searchBox >input::placeholder{
    color: white;
    opacity: 1;
}

.searchBox >input:focus{
    outline: none;
}

.searchBox > button{
    border-style: none;
    border-left: 1px black solid;
    width: fit-content;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6504b5;
    cursor:pointer;
}

.searchBox>button:focus{
    outline: none;
}

.searchBox .smallIcon{
    margin: 0px 10px 0px 15px;
}