*{
  box-sizing: border-box;
  font-family: 'Baloo Tamma 2';
}

html{
  min-height: 100%;
  position:relative;
}

.main {
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 78vh;
  max-width: 1200px;
}
 .animalsDiv {
  background-color: #efeef1;
  display: flex;
  justify-content: center;
 }

.feedback{
  width: 25px;
  height: 70px;
  cursor: pointer;
  margin: 0px auto;
  position: fixed;
  bottom: 100px;
  right: 0px;
}

