footer {
    height: 70px;
    width: 100%;
    background-color: rgb(95, 23, 177);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 0px 0px 5px; */
}

footer a{
    color: white;
}

footer p{
    margin: 5px 0px;
}

